<%= form_with(model: restaurant_food_review, local: true) do |form| %>
  <% if restaurant_food_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant_food_review.errors.count, "error") %> prohibited this restaurant_food_review from being saved:</h2>

      <ul>
        <% restaurant_food_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :restaurant_food_id %>
    <%= form.number_field :restaurant_food_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
