<%= form_with(model: restaurant_comment, local: true) do |form| %>
  <% if restaurant_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant_comment.errors.count, "error") %> prohibited this restaurant_comment from being saved:</h2>

      <ul>
        <% restaurant_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.number_field :restaurant_id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
