<p id="notice"><%= notice %></p>

<h1>Restaurant Foods</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_foods.each do |restaurant_food| %>
      <tr>
        <td><%= restaurant_food.restaurant_id %></td>
        <td><%= restaurant_food.name %></td>
        <td><%= restaurant_food.description %></td>
        <td><%= link_to 'Show', restaurant_food %></td>
        <td><%= link_to 'Edit', edit_restaurant_food_path(restaurant_food) %></td>
        <td><%= link_to 'Destroy', restaurant_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant Food', new_restaurant_food_path %>
